*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/cachesim/*
!/resources/**
!/fpga/**
!Makefile
!README.md
!.gitignore
!.gitmodules
!init.sh
/nvboard
/fceux-am
/digital-lab
/yosys-sta
/rt-thread-am
/verilator
