menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x0        if ISA_x86
  default 0x80000000

config MSIZE
  hex "Memory size"
  default 0x8000000

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of memory"
  default 0x100000 if ISA_x86
  default 0

menuconfig HAS_MROM
  bool "Enable MROM"
  default y
  help
    Provide mrom support for difftest.

if HAS_MROM
config MROM_BASE
  hex "Physical address of the MROM"
  default 0x20000000

config MROM_SIZE
  hex "Size of the MROM"
  default 0x1000
endif # HAS_MROM

menuconfig HAS_FLASH
  bool "Enable FLASH"
  default y
  help
    Provide flash support for difftest.

if HAS_FLASH
config FLASH_BASE
  hex "Physical address of the FLASH"
  default 0x30000000

config FLASH_SIZE
  hex "Size of the FLASH"
  default 0x10000000
endif # HAS_FLASH

menuconfig HAS_SRAM
  bool "Enable SRAM"
  default y
  help
    Provide sram support for difftest.

if HAS_SRAM
config SRAM_BASE
  hex "Physical address of the SRAM"
  default 0x0F000000

config SRAM_SIZE
  hex "Size of the SRAM"
  default 0x2000
endif # HAS_SRAM

menuconfig HAS_PSRAM
  bool "Enable PSRAM"
  default y
  help
    Provide psram support for difftest.

if HAS_PSRAM
config PSRAM_BASE
  hex "Physical address of the PSRAM"
  default 0x80000000

config PSRAM_SIZE
  hex "Size of the PSRAM"
  default 0x20000000
endif # HAS_PSRAM

menuconfig HAS_SDRAM
  bool "Enable SDRAM"
  default y
  help
    Provide sdram support for difftest.

if HAS_SDRAM
config SDRAM_BASE
  hex "Physical address of the SDRAM"
  default 0xA0000000

config SDRAM_SIZE
  hex "Size of the SDRAM"
  default 0x20000000
endif # HAS_SDRAM

choice
  prompt "Physical memory definition"
  default PMEM_GARRAY
config PMEM_MALLOC
  bool "Using malloc()"
config PMEM_GARRAY
  depends on !TARGET_AM
  bool "Using global array"
endchoice

config MEM_RANDOM
  depends on MODE_SYSTEM && !DIFFTEST && !TARGET_AM
  bool "Initialize the memory with random values"
  default y
  help
    This may help to find undefined behaviors.

endmenu #MEMORY
