*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.nxdc
!*.xlsx
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
!Kconfig
!*.sv
!wave/*
include/config
include/generated
build/

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
